@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #333333;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: inherit;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.hero {
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages {
  text-align: center;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.advantages-wide {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.recommendations {
  text-align: center;
}

.recommendations-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
}

.recommendations-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.subscribe {
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  color: #FFFFFF;
  background-color: #756157;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-form-name input{
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe-button {
  background-color: #82B3D3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-assets {
  background-image: url("../images/filters-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #FFFFFF;
}

.main-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.conveniences {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-group input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-filter-submit {
  background-color: #82B3D3;
}

.catalog-filter-reset {
  background-color: transparent;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000
}

.catalog-products-select {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-item-link {
  text-decoration: none;
}

.product-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-item-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-item-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: right;
}

.add-favorite-button {
  background-color: #82B3D3;
}

.current-favorite-button {
  background-color: #7DB54F;
}

.product-item-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-text {
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.subscribe-catalog {
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
}

.title-catalog {
  color: #000000;
}

.description-catalog {
  color: #333333;
}
