@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  background-color: #F2F2F2;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 880px;
  margin: 0 auto;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width: 88px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.header-button {
  margin-right: 70px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/index-decoration.svg"), url("../images/index-background.jpg");
  color: #000000;
  background-color: #756157;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages-item {
  width:400px;
}

.advantages-dark {
  width: 100%;
}

.advantages-middle {
  display: flex;
  flex-direction: row;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.advantages-dark {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title-light {
  color: #FFFFFF;
}

.advantages-light {
  background-color: #83B3D31F;
}

.advantages-medium {
  background-color: #83B3D333;
}

.recommendations {
  text-align: center;
}

.recommendations-list {
  display:flex;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  width: 400px;
}

.recommendations-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.recommendations-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  color: #FFFFFF;
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-form-name input{
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe-button {
  background-color: #82B3D3;
}

.page-footer {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-list {
  width: 142px;
  margin-left: 70px;
  padding: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  width: 115px;
  margin-right: 70px;
}

.main-catalog {
  background-color: #FFFFFF;
}

.catalog-assets {
  background-image: url("../images/filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #FFFFFF;
}

.main-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-group {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 70px;
  margin-left: 70px;
}

.filter-group-summary {
  margin-left: auto;
  margin-right: 70px;
}

.conveniences {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-group input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.catalog-filter-submit {
  background-color: #82B3D3;
}

.catalog-filter-reset {
  background-color: transparent;
}

.catalog-products {
  display: flex;
  flex-direction: column;
}

.product-sorting {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
}

.catalog-products-select {
  width: 292px;
  margin-left: auto;
}

.catalog-products-view {
  margin-left: 70px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
}

.product-item {
  width: 340px;
  margin-right: 20px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-products-select {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
}

.product-item-link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: auto;
}

.product-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-item-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 140px;
  margin-right: 20px;
  margin-left: 20px;
}

.product-item-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: right;
  width: 140px;
}

.product-item-button {
  width: 140px;
  margin-right: 20px;
  margin-left: 20px;
}

.add-favorite-button {
  background-color: #82B3D3;
  width: 140px;
}

.current-favorite-button {
  background-color: #7DB54F;
  width: 140px;
}

.product-item-stars {
  width: 140px;
  margin-left: 20px;
  margin-right: 20px;
}

.product-item-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  width: 140px;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-text {
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.subscribe-catalog {
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
}

.title-catalog {
  color: #000000;
}

.description-catalog {
  color: #333333;
}
